.sound-bar__container {
  position: relative;
  background-color: rgb(113 113 113 / 60%);
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #6b6b6b;
  padding: 10px 10px 8px 12px;
}

.audio-player__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: rgb(113 113 113 / 60%);
  border: 1px solid #6b6b6b;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
}

.audio-player__container {
  display: flex;
  flex-direction: row;
}

.play-button__container {
  margin: 24px 24px 12px;
}

.switch-button__container {
  margin: 12px 24px 24px;
}

.switch-button__container:hover,
.play-button__container:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.loading-spinner__container {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
}

.loading-spinner__icon {
  font-size: 36px;
}

.time-indicator__line {
  position: absolute;
  top: calc(10px + 5%);

  width: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
}