body {
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
}

.background-color {
  background-color: #191919;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.audio-player__buttons {
  align-items: center;
  justify-content: space-between;

  padding: 24px 32px 0;
}

.play-button__container,
.switch-button__container {
  color: #f3f3f3;
}

.play-button__container:hover,
.switch-button__container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner__icon {
  color: #f3f3f3;
  font-size: 48px;
}

.time-indicator__line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  pointer-events: none;

  background-color: rgba(255, 255, 255, .25);

  transition: width 0.35s linear 0s;
}

.title-display__container {
  display: flex;
  justify-content: space-between;

  color: #f3f3f3;
  background-color: #191919;
}